

  @media only screen and (max-width: 800px) {
    .text-alligns{
        margin-top: 150px;
       margin-left: 20px;
        
    }
    .banner-text{
        font-size: 20px;
    }

    .responsive-service{
      padding-bottom: 5rem;
    }
    
    .responsive-form{
      padding-bottom: 5rem;
    }
    .responsiveness{
      margin-top: 5rem;
    }
    .jumbotron{
      margin-top: -10rem;
    }
    .text-allign{
      
      margin-top: -40px;
      margin-left: 18px;

    }
    
  }
  
  @media only screen and (max-width: 500px) {
    
    
    .text-alligns{
        margin-top: 150px;
       margin-left: 20px;
       
        
    }
    .sizing{
      font-size: 10px;
    }

    .size-form{
      font-size: 15px;
    }
    .size-formq{
      font-size: 25px;
    }
    .class-responsive{
      margin: 100px 0px;
    }
    .banner-text{
      
        font-size: 20px;
    }

    .responsive-service{
      padding-bottom: 5rem;
    }
    
    .responsive-form{
      padding-bottom: 5rem;
    }
    .responsiveness{
margin-bottom: 2rem;}
    }
    .text-allign{
      margin-top: 23px;
      margin-left: 18px;
      

    }
    
    .img-donate{
      width: 100%;
    }
    .text-donate{
      margin-top: -3rem;
    }
    html,body {
      margin:0;
      padding:0;
      
  }
  
  @media only screen and (max-width:1024px) {
    .jumbotron{
      margin-top: 2rem;
    }
    header{
      margin-top: -2rem;
    } 
    
  }
  
  @media only screen and (max-width:1250px){
    .navbar-nav{
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width:1172px){
    .navbar-nav{
      font-size: 12px;
      margin-right: -5rem !important;
    }
    .pl-5, .px-5 {
      padding-left: 1rem !important;
  }

  
  }